
body{
    font-family: "Catamaran", sans-serif;
    font-size: 1em;
    padding: 0px;
    
}

.container-fluid{
    padding: 0px;
    overflow: hidden;

}
/*Header*/
#header{
    width: auto;
    height: 800px;
}

.background_animado{

}

.background_animado .images {
    position: absolute;
    top: 0;
    pointer-events: none;
    z-index: 0;

}

.mobile{
    position: absolute;
    z-index: -1;
    top: 0px;
    display: none;
}

#img2{
    
}

#img3{
    
}

#img4 {
    margin-top: -8%;
}

#img5 {
    margin-top: -3.5%;

}

#img6 {
    margin-top: -34.5%;

}

#img7 {

    margin-top: -36%;
    margin-left:24%;
 
}

@media only screen and (max-width: 580px){
    
   #header{
    width: auto;
    height: 538px;
} 
   
    .background_animado{
     display: none;
}
    
    .mobile{
    position: absolute;
    z-index: -1;
    top: 0px;
    margin-top: 0;
    display: contents;
}
    
#mobile {
    width: 100%;
    margin-top: 0px;
    margin-bottom:0px;
   
}

}



.swing-b  {
  -webkit-animation: swing-b 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: swing-b 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: swing-b 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); }

@-webkit-keyframes swing-b {
  0% {
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
      transform: translate(0px,0px); }}

  100% {
  -webkit-transform: translate(2px,7px);
    -moz-transform: translate(2px,7px);
    transform: translate(2px,7px); }
@-moz-keyframes swing-b {
  0% {
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }

  100% {
 -webkit-transform: translate(2px,7px);
    -moz-transform: translate(2px,7px);
      transform: translate(2px,7px); }}

@-ms-keyframes swing_b {
  0% {
      -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }
    
  100% {
-webkit-transform: translate(2px,7px);
    -moz-transform: translate(2px,7px);
      transform: translate(2px,7px); }}

@keyframes swing-b {
  0% {
      -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }
    
  100% {
 -webkit-transform: translate(2px,7px);
    -moz-transform: translate(2px,7px);
    transform: translate(2px,7px); }
    }


.swing-c  {
  -webkit-animation: swing-c 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: swing-c 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: swing-c 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); }

@-webkit-keyframes swing-c {
  0% {
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
      transform: translate(0px,0px); }}

  100% {
  -webkit-transform: translate(-6px,10px);
    -moz-transform: translate(-6px,10px);
    transform: translate(-6px,10px); }
@-moz-keyframes swing-c {
  0% {
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }

  100% {
 -webkit-transform: translate(-6px,10px);
    -moz-transform: translate(-6px,10px);
      transform: translate(-6px,10px); }}

@-ms-keyframes swing_c {
  0% {
      -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }
    
  100% {
-webkit-transform: translate(-6px,10px);
    -moz-transform: translate(-6px,10px);
      transform: translate(-6px,10px); }}

@keyframes swing-c {
  0% {
      -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }
    
  100% {
 -webkit-transform: translate(-6px,10px);
    -moz-transform: translate(-6px,10px);
    transform: translate(-6px,10px); }
    }

.swing-d  {
  -webkit-animation: swing-d 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: swing-d 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: swing-d 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); }

@-webkit-keyframes swing-d {
  0% {
    -webkit-transform: translate(-4px,0px);
    -moz-transform: translate(-4px,0x);
      transform: translate(-4px,0px); }}

  100% {
  -webkit-transform: translate(-4px,0px);
    -moz-transform: translate(-4px,0px);
    transform: translate(-4px,0px); }
@-moz-keyframes swing-d {
  0% {
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }

  100% {
 -webkit-transform: translate(-4px,0px);
    -moz-transform: translate(-4px,0px);
      transform: translate(-4px,0px); }}

@-ms-keyframes swing_d {
  0% {
      -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }
    
  100% {
-webkit-transform: translate(-4px,0px);
    -moz-transform: translate(-4px,0px);
      transform: translate(-4px,0px); }}

@keyframes swing-d {
  0% {
      -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }
    
  100% {
 -webkit-transform: translate(-4px,0px);
    -moz-transform: translate(-4px,0px);
    transform: translate(-4px,0px); }
    }

.swing-e  {
  -webkit-animation: swing-e 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: swing-e 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: swing-e 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); }

@-webkit-keyframes swing-e {
  0% {
    -webkit-transform: translate(16px,8px);
    -moz-transform: translate(16px,8px);
      transform: translate(16px,8px); }}

  100% {
  -webkit-transform: translate(16px,8px);
    -moz-transform: translate(16px,8px);
    transform: translate(16px,8px); }
@-moz-keyframes swing-e {
  0% {
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }

  100% {
 -webkit-transform: translate(16px,8px);
    -moz-transform: translate(16px,8px);
      transform: translate(16px,8px); }}

@-ms-keyframes swing_e {
  0% {
      -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }
    
  100% {
-webkit-transform: translate(16px,8px);
    -moz-transform: translate(16px,8px);
      transform: translate(16px,8px); }}

@keyframes swing-e {
  0% {
      -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }
    
  100% {
 -webkit-transform: translate(16px,8px);
    -moz-transform: translate(16px,8px);
    transform: translate(16px,8px); }
    }

.swing-f  {
  -webkit-animation: swing-f 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: swing-f 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: swing-f 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); }

@-webkit-keyframes swing-f {
  0% {
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
      transform: translate(0px,0px); }}

  100% {
  -webkit-transform: translate(-24px,-28px);
    -moz-transform: translate(-24px,-28px);
    transform: translate(-24px,-28px); }
@-moz-keyframes swing-f {
  0% {
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }

  100% {
 -webkit-transform: translate(-24px,-28px);
    -moz-transform: translate(-24px,-28px);
      transform: translate(-24px,-28px); }}

@-ms-keyframes swing_f {
  0% {
      -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }
    
  100% {
-webkit-transform: translate(-24px,-28px);
    -moz-transform: translate(-24px,-28px);
      transform: translate(-24px,-28px); }}

@keyframes swing-f {
  0% {
      -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }
    
  100% {
 -webkit-transform: translate(-24px,-28px);
    -moz-transform: translate(-24px,-28px);
    transform: translate(-24px,-28px); }
    }

.swing-g  {
  -webkit-animation: swing-g 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: swing-g 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: swing-g 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); }

@-webkit-keyframes swing-g {
  0% {
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
      transform: translate(0px,0px); }}

  100% {
  -webkit-transform: translate(-18px,-4px);
    -moz-transform: translate(-18px,-4px);
    transform: translate(-18px,-4px); }
@-moz-keyframes swing-g {
  0% {
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }

  100% {
 -webkit-transform: translate(-18px,-4px);
    -moz-transform: translate(-18px,-4px);
      transform: translate(-18px,-4px); }}

@-ms-keyframes swing_g {
  0% {
      -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }
    
  100% {
-webkit-transform: translate(-18px,-4px);
    -moz-transform: translate(-18px,-4px);
      transform: translate(-18px,-4px); }}

@keyframes swing-g {
  0% {
      -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }
    
  100% {
 -webkit-transform: translate(-18px,-4px);
    -moz-transform: translate(-18px,-4px);
    transform: translate(-18px,-4px); }
    }

/*Imagens Background*/
.background_image_a{
    z-index: -1;
    position: absolute;
    left: -50px;
    width: 50%;
    transform: translateY(-40%);
       
}

#about {
 
    margin-bottom: 15%;
}

.background_image_b{
    z-index: 0;
    position: absolute;
    width: 50%;
    right: 0;
    transform: translateY(-90%);
    
}

#services {
     margin-bottom: 15%;
    z-index: 2;
}

.background_image_c{
    z-index: -1;
    position: absolute;
    width: 50%;
    left: 0;
    transform: translateY(-90%);
    
}

.background_image_d{
    z-index: -1;
    position: absolute;
    width: 50%;
    right: 0;
    transform: translateY(-70%);
    
}

.background_image_e{
    z-index: -1;
    position: absolute;
    width: 50%;
    left: -90px;
    transform: translateY(-10%);
    
    
}

@media only screen and (max-width: 580px){
    .background_image_a{
    width: 90%;
       
}
    
        .background_image_b{
    width: 90%;
       
}
        .background_image_c{
    width: 90%;
      
}
        .background_image_d{
    width: 90%;
     
}
        .background_image_e{
    width: 90%;
       
}

    
}


#education{
        margin-bottom: 20%;

}

#awards {
    margin-bottom: 15%;
}

#contact {
    margin-bottom: 20%;
}


img{
    max-width: 100%;
    height: auto;
    
}

.footer{
    background-color: black;
    color: white;
    padding: 24px;
    text-align: center;
    font-size: 0.9em;
}
.footer a {
    color: white;    
}

.footer a:hover {
    color: white; 
    text-decoration: underline;
}

#logo_footer{
    padding: 10px;
    margin-bottom: 20px;
}

/*Sobre*/

#foto {
    width:90%;
    margin-top: -25%;
    float:right;
    
}

.about {
    width: 80%;
    margin: auto;
    margin-top:10%;
    z-index: 2;
}

#sobre {
    font-size: 2.4vw;
    font-weight: 300;
    text-transform: uppercase;
}

#nome {
    font-size: 4.5vw;
    font-weight:900;
    text-transform: uppercase;
    line-height: 1.2;
    float: left;
    transform: translate(50%);
    z-index: 1;
    padding-top:47%;
    margin-top: -35%;

}

.about .panel_block {
    height: 4px;
    width:64px;
    background-color: black;
    margin: 25px 0 25px 0;
    }

.texto {
    margin-top: -35%;
    
}

p {
    font-size:1.15em;
}

@media only screen and (max-width: 580px){
    
    #foto{
    width:100%;
    margin-top: 20px;
    margin-bottom: 40px;
    float:left;
    
}
    #sobre {
    font-size: 5vw;
    font-weight: 300;
    text-transform: uppercase;
}
    
    #nome {
    font-size: 10vw;
    line-height: 1.2;
    float: left;
    transform: translate(0);
    z-index: 1;
    padding-top:5%;
    margin-top: 0;

}
    
    .texto {
    margin-top: 0;
    
}
    
    

}

/* Servicos*/


.servicos {
    width: 80%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

#titulo {
    font-size: 2.4vw;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 7%;
}

.panel_block_servicos {
    height: 4px;
    width:64px;
    background-color: black;
    margin: 0 auto 50px auto;

    }

.card {
    border: 4px solid black;
    border-radius: 20px;
   
}

.card h4 {
    text-transform: uppercase;
    font-size: 1.2em;
    margin: 30px 0px 20px 0px;
    font-weight: 700;
}

.card-body.text-center {
    padding: 40px;
    
}

.card-text {
    line-height: 1.25em;
    font-size: 1em;
}
/* Formacao*/



.formacao{
    width: 80%;
    margin: auto;
    margin-top:5%;
}
.conteudo {
    width: 80%;
    margin: auto;
}



#language {
    font-size: 4.5vw;
    font-weight:900;
    text-transform: uppercase;
    line-height: 1.2;
    float: left;
    margin-left: 45%;
    z-index: 1;
    margin-top: -30%;

}

.panel_block_formacao {
    height: 4px;
    width:64px;
    background-color: black;
    margin: 25px 0 25px 0;
    }




.graficos {
    margin-top:11%;
}

.bar-japao, .bar-china, .bar-ingles {
    margin-bottom: 5%;
}

.progress {
    background-color: white;
    border: 4px solid black;
    border-radius: 0;
}

.graficos h5 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.15em;
}

.bar-japao .progress-bar {
    background-color: #c72a7d;    
}

.bar-china .progress-bar {
    background-color: #34a156;
}

.bar-ingles .progress-bar {
    background-color: #27a1db;
}

.links {
    margin-top: 5%;
    margin-bottom: 15%;
}
.media {
    margin-bottom: 15px;
}
.media-body{
    margin-top: 10px;
}

.media h6 {
    text-transform: uppercase;
    font-weight: 600;
}

.links a:link {
    color: black;
    
}
.links a:visited{
    color: black;
}
.japan_link a:hover{
    color: black;
    text-decoration: none;
}

.chinese_link a:hover{
    color: black;
    text-decoration: none;
}

 .media.japan {
     width: 180px;
    position: relative;
    padding: 0px 10px;
    background-color:#ff99cc;

}

.media.japan:hover {
    opacity: 0.9;
}

 .media.blog {
     width: 90px;
    position: relative;
    padding: 0px 10px;
    background-color:#ff99cc;

}

.media.blog:hover {
    opacity: 0.9;
}

 .media.china {
     width: 180px;
    position: relative;
    padding: 0px 10px;
    background-color:#99cc99;

}

.media.china:hover {
    opacity: 0.9;
}


@media only screen and (max-width: 768px) {
    
#language {
    font-size: 10vw;
    font-weight:900;
    text-transform: uppercase;
    line-height: 1.2;
    float: left;
    margin-left:0;
    z-index: 1;
    margin-top:10%;

}
#titulo {
    font-size:5vw;
    }
}

/*Distincoes*/

.distincoes{
    margin-top: 10%;
}

#distincao {
    font-size: 4.5vw;
    font-weight:900;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-top: 7%;
}

.conteudo-distincao {
    width: 100%;
    margin:auto;
    border-top:4px solid black;
    border-bottom:4px solid black;
    padding: 0 10% 5% 10%;
    background-color: white;
    
   
}

.panel_block {
    height: 4px;
    width:64px;
    background-color: black;
    margin: auto;
    }

.conteudo-distincao .card {
    border: none;
    border-radius: 0px;
    width: 100%;
}


.conteudo-distincao .card-body.text-center {
    padding: 60px 40px 10px 40px;
}

.subtitle {
    font-size: 0.9em;
    font-weight: 400;

}

.conteudo-distincao p {
    font-weight: 500;
    margin-bottom: 14px;
}

.conteudo-distincao h4 {
    font-weight: 900;
}


.conteudo-distincao .media {
    
    margin: 20px auto;
    position: relative;
    padding: 0px 10px;
    background-color:#ffff33;

}

.mr-3, .mx-3 {
    margin-right: 10px !important;
    margin-top: 10px;
}

.conteudo-distincao .media-body {
    margin-top: 10px;
}

.conteudo-distincao a {
    color: black;
}
.conteudo-distincao a:hover {
    color: black;
    text-decoration: none;
}

.conteudo-distincao .media:hover {
    opacity: 0.8;
}

/* Formulario*/

.formulario {
    width: 80%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

#form-titulo {
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
}


.form-control {
    border: 4px solid black;
    border-radius:0px;
}

.form-control:focus{
    box-shadow: none;
    border: 4px solid black;
}


#email , #name {
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 4px solid black;


}

#comment {

    height: 200px;
    padding: 15px;
    font-weight: 400;
    font-size: 1.1em;

}

.btn {
    color: white;
    background-color: black;
    border: 4px solid black;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 600;
    margin: auto;
    width: 100%;
}

.btn:hover  {
    background-color: black;
    opacity: 0.8;
    border: 4px solid black;

}
