.container-fluid{
    padding: 0px;
        overflow: hidden;

}
/*Header*/

.brevemente {
    position: absolute;
    z-index: 5;
    width: 100%;
    text-align: center;
    margin-top: 23%;
}

.brevemente h5 {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.5;
    font-size:1.8vw;
      

}

.brevemente p {
   line-height: 0.3;
   font-size:1.35vw;

}

.mobile{
    position: absolute;
    z-index: -1;
    top: 0px;
    display: none;
}

#mobile {
    margin: 0px;
    top: 0px;
    width: 100%;
    display: none;
       
}

@media only screen and (max-width: 992px){
    
 .brevemente p {
 line-height: 0;
      }
}

@media only screen and (max-width: 576px){
   
    .background_animado{
     display: none;
}
    
    .mobile{
    position: absolute;
    z-index: -1;
    top: 0px;
    margin-top: 0;
    display: contents;
}
    
    .brevemente {
    position: absolute;
    z-index: 5;
    width: 100%;
    text-align: center;
    margin-top: 70%;
}
    .brevemente h5 {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2%;
    font-size:3vw;
      

}

.brevemente p {

   font-size:2.4vw;
    margin-bottom:3.5%;

}
    
}
    
    

#header{
    width: auto;
    height: 800px;
}

.background_animado{
    margin-top:-5%;
    pointer-events: none;
    z-index: 0;
}


#img2{
    
}

#img3{
    
}

#img4 {
    margin-top: -8%;
}

#img5 {
    margin-top: -3.5%;

}

#img6 {
    margin-top: -31%;

}

#img7 {
   
    margin-top: -35%;
    margin-left: 25%;
    
}




/*
.swing-a  {
  -webkit-animation: swing-a 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: swing-a 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: swing-a 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); }

@-webkit-keyframes swing-a {
  0% {
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
      transform: translate(0px,0px); }}

  100% {
  -webkit-transform: translate(2px,7px);
    -moz-transform: translate(2px,7px);
    transform: translate(2px,7px); }
@-moz-keyframes swing-a {
  0% {
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }

  100% {
 -webkit-transform: translate(2px,7px);
    -moz-transform: translate(2px,7px);
      transform: translate(2px,7px); }}

@-ms-keyframes swing_a {
  0% {
      -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }
    
  100% {
-webkit-transform: translate(2px,7px);
    -moz-transform: translate(2px,7px);
      transform: translate(2px,7px); }}

@keyframes swing-a {
  0% {
      -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }
    
  100% {
 -webkit-transform: translate(2px,7px);
    -moz-transform: translate(2px,7px);
    transform: translate(2px,7px); }
    }

*/



.swing-b  {
  -webkit-animation: swing-b 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: swing-b 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: swing-b 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); }

@-webkit-keyframes swing-b {
  0% {
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
      transform: translate(0px,0px); }}

  100% {
  -webkit-transform: translate(2px,7px);
    -moz-transform: translate(2px,7px);
    transform: translate(2px,7px); }
@-moz-keyframes swing-b {
  0% {
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }

  100% {
 -webkit-transform: translate(2px,7px);
    -moz-transform: translate(2px,7px);
      transform: translate(2px,7px); }}

@-ms-keyframes swing_b {
  0% {
      -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }
    
  100% {
-webkit-transform: translate(2px,7px);
    -moz-transform: translate(2px,7px);
      transform: translate(2px,7px); }}

@keyframes swing-b {
  0% {
      -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }
    
  100% {
 -webkit-transform: translate(2px,7px);
    -moz-transform: translate(2px,7px);
    transform: translate(2px,7px); }
    }


.swing-c  {
  -webkit-animation: swing-c 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: swing-c 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: swing-c 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); }

@-webkit-keyframes swing-c {
  0% {
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
      transform: translate(0px,0px); }}

  100% {
  -webkit-transform: translate(-6px,10px);
    -moz-transform: translate(-6px,10px);
    transform: translate(-6px,10px); }
@-moz-keyframes swing-c {
  0% {
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }

  100% {
 -webkit-transform: translate(-6px,10px);
    -moz-transform: translate(-6px,10px);
      transform: translate(-6px,10px); }}

@-ms-keyframes swing_c {
  0% {
      -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }
    
  100% {
-webkit-transform: translate(-6px,10px);
    -moz-transform: translate(-6px,10px);
      transform: translate(-6px,10px); }}

@keyframes swing-c {
  0% {
      -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }
    
  100% {
 -webkit-transform: translate(-6px,10px);
    -moz-transform: translate(-6px,10px);
    transform: translate(-6px,10px); }
    }

.swing-d  {
  -webkit-animation: swing-d 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: swing-d 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: swing-d 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); }

@-webkit-keyframes swing-d {
  0% {
    -webkit-transform: translate(-4px,0px);
    -moz-transform: translate(-4px,0x);
      transform: translate(-4px,0px); }}

  100% {
  -webkit-transform: translate(-4px,0px);
    -moz-transform: translate(-4px,0px);
    transform: translate(-4px,0px); }
@-moz-keyframes swing-d {
  0% {
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }

  100% {
 -webkit-transform: translate(-4px,0px);
    -moz-transform: translate(-4px,0px);
      transform: translate(-4px,0px); }}

@-ms-keyframes swing_d {
  0% {
      -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }
    
  100% {
-webkit-transform: translate(-4px,0px);
    -moz-transform: translate(-4px,0px);
      transform: translate(-4px,0px); }}

@keyframes swing-d {
  0% {
      -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }
    
  100% {
 -webkit-transform: translate(-4px,0px);
    -moz-transform: translate(-4px,0px);
    transform: translate(-4px,0px); }
    }

.swing-e  {
  -webkit-animation: swing-e 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: swing-e 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: swing-e 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); }

@-webkit-keyframes swing-e {
  0% {
    -webkit-transform: translate(16px,8px);
    -moz-transform: translate(16px,8px);
      transform: translate(16px,8px); }}

  100% {
  -webkit-transform: translate(16px,8px);
    -moz-transform: translate(16px,8px);
    transform: translate(16px,8px); }
@-moz-keyframes swing-e {
  0% {
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }

  100% {
 -webkit-transform: translate(16px,8px);
    -moz-transform: translate(16px,8px);
      transform: translate(16px,8px); }}

@-ms-keyframes swing_e {
  0% {
      -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }
    
  100% {
-webkit-transform: translate(16px,8px);
    -moz-transform: translate(16px,8px);
      transform: translate(16px,8px); }}

@keyframes swing-e {
  0% {
      -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }
    
  100% {
 -webkit-transform: translate(16px,8px);
    -moz-transform: translate(16px,8px);
    transform: translate(16px,8px); }
    }

.swing-f  {
  -webkit-animation: swing-f 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: swing-f 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: swing-f 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); }

@-webkit-keyframes swing-f {
  0% {
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
      transform: translate(0px,0px); }}

  100% {
  -webkit-transform: translate(-24px,-28px);
    -moz-transform: translate(-24px,-28px);
    transform: translate(-24px,-28px); }
@-moz-keyframes swing-f {
  0% {
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }

  100% {
 -webkit-transform: translate(-24px,-28px);
    -moz-transform: translate(-24px,-28px);
      transform: translate(-24px,-28px); }}

@-ms-keyframes swing_f {
  0% {
      -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }
    
  100% {
-webkit-transform: translate(-24px,-28px);
    -moz-transform: translate(-24px,-28px);
      transform: translate(-24px,-28px); }}

@keyframes swing-f {
  0% {
      -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }
    
  100% {
 -webkit-transform: translate(-24px,-28px);
    -moz-transform: translate(-24px,-28px);
    transform: translate(-24px,-28px); }
    }

.swing-g  {
  -webkit-animation: swing-g 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: swing-g 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: swing-g 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955); }

@-webkit-keyframes swing-g {
  0% {
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
      transform: translate(0px,0px); }}

  100% {
  -webkit-transform: translate(-18px,-4px);
    -moz-transform: translate(-18px,-4px);
    transform: translate(-18px,-4px); }
@-moz-keyframes swing-g {
  0% {
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }

  100% {
 -webkit-transform: translate(-18px,-4px);
    -moz-transform: translate(-18px,-4px);
      transform: translate(-18px,-4px); }}

@-ms-keyframes swing_g {
  0% {
      -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }
    
  100% {
-webkit-transform: translate(-18px,-4px);
    -moz-transform: translate(-18px,-4px);
      transform: translate(-18px,-4px); }}

@keyframes swing-g {
  0% {
      -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px); }
    
  100% {
 -webkit-transform: translate(-18px,-4px);
    -moz-transform: translate(-18px,-4px);
    transform: translate(-18px,-4px); }
    }


/*Imagens Background*/
.background_image_a{
    z-index: -1;
    position: absolute;
    left: -50px;
    width: 50%;
    transform: translateY(-40%);
       
}

#about {
 
    margin-bottom: 15%;
}

.background_image_b{
    z-index: 0;
    position: absolute;
    width: 50%;
    right: 0;
    transform: translateY(-90%);
    
}

#services {
     margin-bottom: 15%;
    z-index: 2;
}

.background_image_c{
    z-index: -1;
    position: absolute;
    width: 50%;
    left: 0;
    transform: translateY(-90%);
    
}

.background_image_d{
    z-index: -1;
    position: absolute;
    width: 50%;
    right: 0;
    transform: translateY(-70%);
    
}

.background_image_e{
    z-index: -1;
    position: absolute;
    width: 50%;
    left: -90px;
    transform: translateY(-10%);
    
    
}

#awards {
    margin-bottom: 15%;
}

#contact {
    margin-bottom: 20%;
}


body{
    font-family: "Catamaran", sans-serif;
    font-size: 1em;
    padding: 0px;
    
}

img{
    max-width: 100%;
    height: auto;
    
}

